<br>
<div class="container">
    <div class="card box-shadow col-sm-8 mx-auto">

        <div class="card-head">
            <div class="RegisterLabel">
                <h1>
                    <strong>REGISTER</strong>
                </h1>
            </div>
        </div>
        <hr>
        <div class="card-body col-sm-8 w-100 mx-auto">
            <form class="register-form w-100" method="POST" autocomplete="off" [formGroup]="RegService.formModel" (submit)="RegisterSubmit()">
                <div class="form-group">
                    <input placeholder="Firstname" required type="text" class="form-control" formControlName="Firstname" name="Firstname">
                    <div>
                        <label class="text-danger" *ngIf="RegService.formModel.get('Firstname')?.touched && RegService.formModel.get('Firstname')?.errors?.required">Firstname is Required</label>
                    </div>
                </div>
                <div class="form-group">
                    <input placeholder="Lastname" required type="text" class="form-control" formControlName="Lastname" name="Lastname">
                    <div>
                        <label class="text-danger" *ngIf="RegService.formModel.get('Lastname')?.touched && RegService.formModel.get('Lastname')?.errors?.required">Lastname is Required</label>
                    </div>
                </div>
                <div class="form-group">
                    <input placeholder="Username" required type="text" class="form-control" formControlName="Username" name="Username">
                    <div>
                        <label class="text-danger" *ngIf="RegService.formModel.get('Username')?.touched && RegService.formModel.get('Username')?.errors?.required">Username is Required</label>
                    </div>
                </div>
                <div class="form-group">
                    <input placeholder="Email" type="text" required class="form-control" formControlName="Email" name="Email">
                    <div>
                        <label class="text-danger" *ngIf="RegService.formModel.get('Email')?.touched && RegService.formModel.get('Email')?.errors?.required">Email is Required</label>
                        <label class="text-danger" *ngIf="RegService.formModel.get('Email')?.touched && RegService.formModel.get('Email')?.errors?.Email">Email is Invalid</label>
                    </div>
                </div>
                <div class="form-group">
                    <input placeholder="Address" type="text" required class="form-control" name="Address" formControlName="Address">
                    <div>
                        <label class="text-danger" *ngIf="RegService.formModel.get('Address')?.touched && RegService.formModel.get('Address')?.errors?.required">Address is Required</label>
                    </div>
                </div>
                <div class="form-group">
                    <input placeholder="State" type="text" required class="form-control" name="state" formControlName="State">
                    <div>
                        <label class="text-danger" *ngIf="RegService.formModel.get('State')?.touched && RegService.formModel.get('State')?.errors?.required">State is Required</label>
                    </div>
                </div>
                <div class="form-group">
                    <input placeholder="Country" type="text" required class="form-control" name="country" formControlName="Country">
                    <div>
                        <label class="text-danger" *ngIf="RegService.formModel.get('Country')?.touched && RegService.formModel.get('Country')?.errors?.required">Country is Required</label>
                    </div>
                </div>
                <div class="form-group">
                    <input placeholder="Phone" type="text" required class="form-control" formControlName="Phone" name="Phone">
                    <div>
                        <label class="text-danger" *ngIf="RegService.formModel.get('Phone')?.touched && RegService.formModel.get('Phone')?.errors?.required">Phone is Required</label>
                    </div>
                </div>
                <div class="form-group">
                    <input placeholder="PostalCode" type="text" required class="form-control" name="PostalCode" formControlName="PostalCode" />
                    <div>
                        <label class="text-danger" *ngIf="RegService.formModel.get('PostalCode')?.touched && RegService.formModel.get('PostalCode')?.errors?.required">PostalCode is Required</label>
                    </div>
                </div>
                <div formGroupName="Passwords">
                    <div class="required form-group">
                        <input placeholder="Password" type="password" required class="form-control" formControlName="Password" name="password">
                        <div>
                            <label class="text-danger" *ngIf="RegService.formModel.get('Passwords.Password')?.touched && RegService.formModel.get('Passwords.Password')?.errors?.required">Password is Required</label>
                            <label class="text-danger" *ngIf="RegService.formModel.get('Passwords.Password')?.touched && RegService.formModel.get('Passwords.Password')?.errors?.minlenght">Minimum length of Password is 6</label>
                        </div>
                    </div>
                    <div class="required form-group">
                        <input placeholder="ConfirmPassword" type="password" required class="form-control" formControlName="ConfirmPassword" name="ConfirmPassword">
                        <div>
                            <label class="text-danger" *ngIf="RegService.formModel.get('Passwords.ConfirmPassword')?.touched && RegService.formModel.get('Passwords.ConfirmPassword')?.errors?.required">Password is Invalid or Dosen't Match</label>
                        </div>
                    </div>
                </div>
                <hr>

                <div>
                    <button type="submit" id="submit" [disabled]="!RegService.formModel.valid" value="RegisterSubmit" class="button ">
                            SUBMIT
                        </button>
                </div>
                <br>

                <button class="btn btn-default " [routerLink]="[ '/login'] " routerLinkActive="router-link-active ">
                        <strong>
                            Already have an Account?
                        </strong>
                    </button>
            </form>
            <hr>
        </div>


    </div>
</div>
<br>
<br>
<br>
<hr class="btn-info " />

<app-footer></app-footer>

<!-- ############################################ -->
<router-outlet></router-outlet>