<div class="container-fluid general-height shadow-lg" >
        <div class="row container-fluid subscribe" >
            <div class="col-md-5 md-auto shift">
                <hr class="btn-light" />
                <p><strong>SUBSCRIBE TO NEWSLETTER</strong></p>
                <hr class="btn-light" />
                <span>
                    <input class="form-control xdd" type="email" placeholder="Enter your Email:" />
                    <button type="button" class="btn btn-success">Subscribe</button>
                    <br>
                </span>
            </div>
        </div>
        <hr class="btn-default">
    <div class="row">
<ul class="list-group col-3"> <strong>CUSTOMER SERVICES</strong>
  <li class="list-unstyled">How to Sell</li>
  <li class="list-unstyled">Help Center</li>
  <li class="list-unstyled">Contact Us</li>
  <li class="list-unstyled">Report Abuse</li>
  <li class="list-unstyled">Submit a Dispute</li>
  <li class="list-unstyled">Policies & Rules</li>
</ul>

<ul class="list-group col-3"> <strong>ABOUT US</strong>
  <li class="list-unstyled">About Cart-Me.com</li>
  <li class="list-unstyled">SiteMap</li>
</ul>

<ul class="list-group col-3"> <strong>SELL ON CART-ME.COM</strong>
  <li class="list-unstyled">Learning Center</li>
  <li class="list-unstyled">Partner Program</li>
</ul>

<ul class="list-group col-3"> <strong>TRADE SERVICES</strong>
  <li class="list-unstyled">Business Identity</li>
  <li class="list-unstyled">Logistics Service</li>
  <li class="list-unstyled">Production Monitoring & Inspection Services</li>

</ul>
    </div>

<!-- <br> -->

         <div class="row container-fluid subscribe" >
            <div class="col-12 md-auto">
                <hr class="btn-dark" />
                <p>Copyright © 2021 CartMe Inc. All Rights Reserved. Accessibility, User Agreement, Privacy, Cookies, Do not sell my personal information and AdChoice</p>
                <hr class="btn-dark"  />
            </div>
        </div>
</div>
<!-- <br> -->


<router-outlet></router-outlet>
