<br>
<hr>
<div class="text-center">
    <h2><strong>CREATE CATEGORY</strong></h2>
</div>
<hr />
<div class="text-center" id="displayBody">
    <div class="row">
        <div class="col-sm-6 mx-auto">
            <div class="text-center p-3">
                <form method="post" [formGroup]="categoryForm" (submit)="uploadCategory()">

                    <div class="form-group">
                        <input type="text" class="form-control text-center justify-content-center" placeholder = "Enter Category"
                        formControlName="name" name="name">
                    </div>
                    <div class="form-group">
                        <textarea [readonly]="NonEditable" type="text" class="form-control text-center justify-content-center" placeholder = "Description"
                        formControlName="name" name="name"></textarea>
                    </div>
                    <div class="text-danger">
                         {{showCategoryNameErrors()}}
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" style="width: 300px;" [disabled]="!categoryForm.valid">SUBMIT</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
