
<br />
<div class="text-center">
 <h4><strong>DELETE CATEGORY</strong></h4>
 <div class="text-danger">
  <h4>Are you sure you want to delete this Category?</h4>
 </div>
</div>
<hr />
<div class="container text-center" *ngIf="dataLoaded">
 <hr />
 <dl class="row" >
  <dt class="col-sm-6">
   CATEGORY
  </dt>
  <dd class="col-sm-6">
   {{categoryDetails.name}}
  </dd>
 </dl>
 <hr class="btn-primary" />
 <div>
  <button type="submit" value="Delete" class="btn btn-danger" (click)="DeleteCategory()">DELETE</button> 
 </div>
</div>

<div class="container text-center" *ngIf="!dataLoaded">
 <h2>NO CONTENT</h2>
</div>
<router-outlet></router-outlet>

