<br>
<div class="container">
    <div class="row col-md-6 mx-auto">
      <button class="btn btn-outline-dark btnupload" >
        <strong>
          CREATE PRODUCT
        </strong>
      </button>
    </div>
    <br>
<div>
   <div class="text-center">
    <h1><strong>PRODUCTS</strong></h1>
    <hr class="btn-primary" style="width: 300px;" />
    <div class="row">
      <div class="bd-example bd-example-images m-1 ">
        <div class="text-center ">
            <img src="assets/images/12531.webp " class="artwork mb-2" height="120 " width="120 ">
            <h6>CHINESE MEALS BALLS</h6>
            <span class="navbar-expand-sm  d-flex mx-auto my-auto justify-content-center">
                <div> <h5 class="btn btn-outline-danger small btn-sm mr-2">$20</h5></div>
                <div>
                <button class="btn btn-danger small btn-sm border-0 pt-2" id="addtocarttext">
                  <strong> CART</strong>
                </button>
                </div>
            </span>
        </div>
    </div>
    </div>
    </div>
    </div>
</div>
