<!-- ReactiveForms -->
<br>
<div class="container">
 <div class="card box-shadow col-sm-8 mx-auto">

  <div class="card-head">
   <div class="RegisterLabel">
    <h1>
     <strong>REGISTER</strong>
    </h1>
   </div>
  </div>
  <hr>

  <div class="row text-center p-1">
   <div class="col-md-6 mx-auto">
    <form asp-action="Register" [formGroup] = "registerationForm" >

     <div class="form-group">
      <input type="text"  formControlName="Firstname" placeholder="Firstname" name="Firstname" class="form-control"/>
      <div class="text-danger">
      {{shoeFirstNameErrors()}}
      </div>
     </div>

     <div class="form-group">
      <input type="text"  formControlName="Lastname" placeholder="Lastname" name="Lastname"
       class="form-control" />
      <div class="text-danger">
       {{shoeLastNameErrors()}}
      </div>
     </div>

     <div class="form-group">
      <input type="text"  formControlName="Username" placeholder="Username" name="Username"
       class="form-control" />
      <div class="text-danger">
       {{shoeUserNameErrors()}}
      </div>
     </div>
     <div class="form-group row">
      <div class="col-md-12">
       <input type="email"  formControlName="Email" placeholder="Email" name="Email" class="form-control" />
       <div class="text-danger">
        {{shoeEmailErrors()}}
       </div>
      </div>
     </div>
     <div class="form-group row">
      <div class="col-md-12">
       <input type="text" formControlName="Address" placeholder="Address" name="Address"
        class="form-control" />
       <div class="text-danger">
        {{shoeAddressErrors()}}
       </div>
      </div>
     </div>
     <div class="form-group row">
      <div class="col-md-12">
       <input type="text" formControlName="Phone" placeholder="Phone" name="Phone" class="form-control" />
       <div class="text-danger">
        {{shoePhoneErrors()}}
       </div>
      </div>
     </div>
     <div class="form-group row">
      <div class="col-md-12">
       <input type="text"  formControlName="State" placeholder="State" name="State" class="form-control" />
       <div class="text-danger">
        {{shoeStateErrors()}}
       </div>
      </div>
     </div>
     <div class="form-group row">
      <div class="col-md-12">
       <input type="text"  formControlName="Country" placeholder="Country" name="Country"
        class="form-control" />
       <div class="text-danger">
        {{shoeCountryErrors()}}
       </div>
      </div>
     </div>
     <div class="form-group row">
      <div class="col-md-12">
       <input type="text"  formControlName="PostalCode" placeholder="PostalCode" name="PostalCode"
        class="form-control" />
       <div class="text-danger">
        {{shoePostalCodeErrors()}}
       </div>
      </div>
     </div>

     <div >
      <div class="form-group row">
       <div class="col-md-12">
        <input type="password"  formControlName="Password" placeholder="Password" name="Password"
         class="form-control" />
        <div class="text-danger">
         {{shoePasswordErrors()}}
        </div>
       </div>
      </div>
      <div class="form-group row">
       <div class="col-md-12">
        <input type="password" name="ConfirmPassword" formControlName="ConfirmPassword" placeholder="Confirm Password"
          class="form-control" />
        <div class="text-danger">
         {{shoeConfirmPasswordErrors()}}
        </div>
       </div>
      </div>
     </div>

     <div class="form-group">
      <button type="submit" value="Create" class="btn btn-primary text-white"
        (click)="OnSubmit()"><strong>SUBMIT</strong>
      </button>
     </div>
     <br>

     <button class="btn btn-default " [routerLink]="[ '/login']" routerLinkActive="router-link-active ">
      <strong>
       Already have an Account?
      </strong>
     </button>
     <hr class="btn-primary" />
    </form>
   </div>

  </div>

 </div>
</div>
<br>
<br>
<br>
<hr class="btn-info " />


<!-- ############################################ -->
