header {
    align-items: center;
    width: 100%;
    justify-content: space-between;
    z-index: 4;
}

.box-shadow {
    box-shadow: 0 .35rem .45rem rgba(7, 7, 7, 0.7);
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.navbar-brand {
    padding: none;
    outline: none;
}

a.navbar-brand {
    font-size: 25px;
}

.nav-link {
    font-size: 0.79em !important;
}

.navbar-nav {
    padding: none;
    outline: none;
}

.nav1 {
    align-items: center;
    justify-content: center;
}

.navbar-collapse {
    align-items: center;
    text-align: center;
    justify-content: center;
}