<!-- <br> -->
<!-- ######################################################### -->
<carousel class="container-fluid cont col-12 bg-dark ">
    <slide class="">
        <div class="carousel">
            <div>
                <img src="assets/images/FoodDeliveryService (1).jpg" style="display: block; width: 100%;" class="img-thumbnail  border-0 w-100 h-100 m-0 p-0">
            </div>
            <div class="carousel-caption d-none d-md-block">
                <div class="">
                    <h2 class="display-2 "><strong>SPOIL YOURSELF</strong></h2>
                    <p><strong>WHEW!!!...TASTY TREATS AT A GLANCE!</strong></p>
                    <button type="button" class="btn shook btn-primary btn-sm ">
                AFRICAN DISHES
            </button>
                </div>
            </div>
        </div>

    </slide>
    <slide class="">
        <div class=" carousel ">
            <div>
                <img src="assets/images/FoodDeliveryService (3).jpg" style="display: block; width: 100%; " class="img-thumbnail border-0 w-100 h-100 m-0 p-0 ">
            </div>
            <div class="carousel-caption d-none d-md-block ">
                <div class=" ">
                    <h2 class="display-2 "><strong>SPECIAL TREATS </strong></h2>
                    <p><strong>WHEW!!!...SPICY TREATS AT A GLANCE!</strong></p>
                    <button type="button " class="btn shook btn-warning btn-sm ">
                ITALIAN DISHES
            </button>
                </div>
            </div>
        </div>
    </slide>
    <slide class="">
        <div class="carousel ">
            <div>
                <img src="assets/images/12531.webp " style="display: block; width: 100%; " class="img-thumbnail border-0 w-100 h-100 m-0 p-0 ">
            </div>
            <div class="carousel-caption d-none d-md-block ">
                <div class=" ">
                    <h2 class="display-2 "><strong>SUMPTICIOUS MEALS</strong></h2>
                    <p><strong>WHEW!!!...YOU HAVE TO EXPLORE THESE TREATS!</strong></p>
                    <button type="button " class="btn shook btn-warning btn-sm ">
                CHINESE DISHES
            </button>
                </div>
            </div>
        </div>
    </slide>
</carousel>
<!-- @*#############################################################################*@ -->
<hr class="my-4 " />
<!-- @*#############################################################################*@ -->
<div class="text-center ">
    <!-- <h1 class="display-4 ">Welcome</h1> -->
    <app-search></app-search>
</div>
<!-- @*#############################################################################*@ -->
<div>
    <hr class="my-4 " />
</div>
<!-- @*#############################################################################*@ -->
<div class="col-sm-12 row ">
    <div class="col ">
        <div class="w-100 mx-auto justify-content-center ">
            <img class="img img-fluid bannerimg w-100 h-100 " src="assets/images/web banner2.png ">
        </div>
    </div>
</div>
<!-- @*#############################################################################*@ -->
<div>
    <hr class="my-4 " />
</div>
<!-- @*#############################################################################*@ -->

<div class="col-sm-12 container ">
    <div class="text-center ">
        <h3 class="beetaa display-3 pb-0 "><strong>EXPLORE POPULAR CATEGORIES</strong></h3>
        <hr class="btn-dark w-25 " />
    </div>
</div>
<br>
<!-- @*#############################################################################*@ -->
<div class="row d-flex flex-row catlist" style="height:50px ">
    <div class="text-center ">
        <div class="d-inline-block navbar-expand-sm mt-sm-3 pl-1 pr-1 m-1">
            <a class="d-flex flex-row text-white "><strong>CATEGORIES</strong>
            </a>
        </div>
    </div>
</div>
<br>

<!-- @*#############################################################################*@ -->

<br>
<hr class="btn-info " />

<!-- @*#############################################################################*@ -->

<div class="col-sm-12 container ">
    <div class="text-center ">
        <h2 class="display-2 pb-0 "><strong>DAILY DISHES</strong></h2>
        <hr class="btn-dark " style="width: 100px; ">
    </div>
</div>
<br>
<!-- @*#############################################################################*@ -->
<div class="row">
    <div class="bd-example bd-example-images m-1 ">
        <div class="text-center ">
            <img src="assets/images/Devillechicken.jpg " class="artwork pb-2" height="120 " width="120 ">
            <h6 class="">CHICKEN & CHIPS</h6>
            <span class="navbar-expand-sm d-flex d-block d d-inline-flex mx-auto my-auto">
                <div> <h5 class=" btn btn-outline-primary btn-sm">$12</h5></div>
                <div>
                   <button class="btn btn-primary small btn-sm border-0 d-inline-flex p-1 pt-2" id="addtocarttext">
                  <strong> CART</strong>
                </button>
                </div>
            </span>
   

        </div>
    </div>
    <div class="bd-example bd-example-images m-1 ">
        <div class="text-center ">
            <img src="assets/images/34.jpg " class="artwork pb-2 " height="120 " width="120 ">
            <h6>FRIED RICE</h6>
            <span class="navbar-expand-sm d-flex d-block d d-inline-flex mx-auto my-auto">
                <div> <h5 class="btn btn-outline-primary btn-sm">$10</h5></div>
                <div>
                   <button class="btn btn-primary small btn-sm border-0 d-inline-flex p-1 pt-2" id="addtocarttext">
                  <strong> CART</strong>
                </button>
                </div>
            </span>

        </div>
    </div>
    <div class="bd-example bd-example-images m-1 ">
        <div class="text-center ">
            <img src="assets/images/maxresdefault.jpg " class="artwork pb-2 " height="120 " width="120 ">
            <h6>SWEET POTATOES</h6>
            <span class="navbar-expand-sm d-flex d-block d d-inline-flex mx-auto my-auto">
                <div> <h5 class="btn btn-outline-primary btn-sm">$15</h5></div>
                <div>
                   <button class="btn btn-primary small btn-sm border-0 d-inline-flex p-1 pt-2" id="addtocarttext">
                  <strong> CART</strong>
                </button>
                </div>
            </span>
        </div>
    </div>
    <div class="bd-example bd-example-images m-1 ">
        <div class="text-center">
            <img src="assets/images/12531.webp " class="artwork pb-2 " height="120 " width="120 ">
            <h6>CHINESE MEALS BALLS</h6>
            <span class="navbar-expand-sm d-flex d-block d d-inline-flex mx-auto my-auto">
                <div> <h5 class="btn btn-outline-primary btn-sm">$20</h5></div>
                <div>
                   <button class="btn btn-primary small btn-sm border-0 d-inline-flex p-1 pt-2" id="addtocarttext">
                  <strong> CART</strong>
                </button>
                </div>
            </span>
        </div>
    </div>
    <div class="bd-example bd-example-images m-1 ">
        <div class="text-center ">
            <img src="assets/images/11001335.jpg " class="artwork pb-2 " height="120 " width="120 ">
            <h6>FRUIT SALAD</h6>
            <span class="navbar-expand-sm d-flex d-block d d-inline-flex mx-auto my-auto">
                <div> <h5 class="btn btn-outline-primary btn-sm">$19</h5></div>
                <div>
                   <button class="btn btn-primary small btn-sm border-0 d-inline-flex p-1 pt-2" id="addtocarttext">
                  <strong> CART</strong>
                </button>
                </div>
            </span>
        </div>
    </div>
    <div class="bd-example bd-example-images m-1 ">
        <div class="text-center ">
            <img src="assets/images/Megayam.jpg " class="artwork pb-2 " height="120 " width="120 ">
            <h6>VEGIE SALAD</h6>
            <span class="navbar-expand-sm d-flex d-block d d-inline-flex mx-auto my-auto">
                <div> <h5 class="btn btn-outline-primary btn-sm">$17</h5></div>
                <div>
                   <button class="btn btn-primary small btn-sm border-0 d-inline-flex p-1 pt-2" id="addtocarttext">
                  <strong> CART</strong>
                </button>
                </div>
            </span>
        </div>
    </div>
    <div class="bd-example bd-example-images m-1 ">
        <div class="text-center ">
            <img src="assets/images/kij.jpg" class="artwork pb-2 " height="120 " width="120 ">
            <h6>CHINESE MEAT SALAD</h6>
            <span class="navbar-expand-sm d-flex d-block d d-inline-flex mx-auto my-auto">
                <div> <h5 class="btn btn-outline-primary btn-sm">$27</h5></div>
                <div>
                   <button class="btn btn-primary small btn-sm border-0 d-inline-flex p-1 pt-2" id="addtocarttext">
                  <strong> CART</strong>
                </button>
                </div>
            </span>
        </div>
    </div>
    <div class="bd-example bd-example-images m-1 ">
        <div class="text-center ">
            <img src="assets/images/Goatmeat.webp" class="artwork pb-2 " height="120 " width="120 ">
            <h6>NIGERIAN JOLLOF RICE</h6>
            <span class="navbar-expand-sm d-flex d-block d d-inline-flex mx-auto my-auto">
                <div> <h5 class="btn btn-outline-primary btn-sm">$17</h5></div>
                <div>
                   <button class="btn btn-primary small btn-sm border-0 d-inline-flex p-1 pt-2" id="addtocarttext">
                  <strong> CART</strong>
                </button>
                </div>
            </span>
        </div>
    </div>
    <div class="bd-example bd-example-images m-1 ">
        <div class="text-center ">
            <img src="assets/images/kij.jpg " class="artwork pb-2 " height="120 " width="120 ">
            <h6>CHINESE MEAT SALAD</h6>
            <span class="navbar-expand-sm d-flex d-block d d-inline-flex mx-auto my-auto">
                <div> <h5 class="btn btn-outline-primary btn-sm">$10</h5></div>
                <div>
                   <button class="btn btn-primary small btn-sm border-0 d-inline-flex p-1 pt-2" id="addtocarttext">
                  <strong> CART</strong>
                </button>
                </div>
            </span>
        </div>
    </div>
    <div class="bd-example bd-example-images m-1 ">
        <div class="text-center ">
            <img src="assets/images/Goatmeat.webp " class="artwork pb-2 " height="120" width="120">
            <h6>NIGERIAN JOLLOF RICE</h6>
            <span class="navbar-expand-sm d-flex d-block d d-inline-flex mx-auto my-auto">
                <div> <h5 class="btn btn-outline-primary btn-sm">$16</h5></div>
                <div>
                   <button class="btn btn-primary small btn-sm border-0 d-inline-flex p-1 pt-2" id="addtocarttext">
                  <strong> CART</strong>
                </button>
                </div>
            </span>
        </div>
    </div>
    <div class="bd-example bd-example-images m-1 ">
        <div class="text-center ">
            <img src="assets/images/Devillechicken.jpg" class="artwork pb-2 " height="120 " width="120 ">
            <h6>CHICKEN & CHIPS</h6>
            <span>
      <span class="navbar-expand-sm d-flex d-block d d-inline-flex mx-auto my-auto">
                <div> <h5 class="btn btn-outline-primary btn-sm">$13</h5></div>
                <div>
                   <button class="btn btn-primary small btn-sm border-0 d-inline-flex p-1 pt-2" id="addtocarttext">
                  <strong> CART</strong>
                </button>
                </div>
            </span>
            </span>
        </div>
    </div>
    <div class="bd-example bd-example-images m-1 ">
        <div class="text-center ">
            <img src="assets/images/34.jpg " class="artwork pb-2 " height="120 " width="120 ">
            <h6>FRIED RICE</h6>
            <span class="navbar-expand-sm d-flex d-block d d-inline-flex mx-auto my-auto">
                <div> <h5 class="btn btn-outline-primary btn-sm">$10</h5></div>
                <div>
                   <button class="btn btn-primary small btn-sm border-0 d-inline-flex p-1 pt-2" id="addtocarttext">
                  <strong> CART</strong>
                </button>
                </div>
            </span>
        </div>
    </div>
    <div class="bd-example bd-example-images m-1 ">
        <div class="text-center ">
            <img src="assets/images/maxresdefault.jpg " class="artwork pb-2 " height="120 " width="120 ">
            <h6>SWEET POTATOES</h6>
            <span class="navbar-expand-sm d-flex d-block d d-inline-flex mx-auto my-auto">
                <div> <h5 class="btn btn-outline-primary btn-sm">$18</h5></div>
                <div>
                   <button class="btn btn-primary small btn-sm border-0 d-inline-flex p-1 pt-2" id="addtocarttext">
                  <strong> CART</strong>
                </button>
                </div>
            </span>
        </div>
    </div>
    <div class="bd-example bd-example-images m-1 ">
        <div class="text-center ">
            <img src="assets/images/12531.webp " class="artwork pb-2 " height="120 " width="120 ">
            <h6>CHINESE MEALS BALLS</h6>
            <span class="navbar-expand-sm d-flex d-block d d-inline-flex mx-auto my-auto">
                <div> <h5 class="btn btn-outline-primary btn-sm">$20</h5></div>
                <div>
                   <button class="btn btn-primary small btn-sm border-0 d-inline-flex p-1 pt-2" id="addtocarttext">
                  <strong> CART</strong>
                </button>
                </div>
            </span>
        </div>
    </div>
    <div class="bd-example bd-example-images m-1 ">
        <div class="text-center ">
            <img src="assets/images/11001335.jpg " class="artwork pb-2 " height="120 " width="120 ">
            <h6>FRUIT SALAD</h6>
            <span class="navbar-expand-sm d-flex d-block d d-inline-flex mx-auto my-auto">
                <div> <h5 class="btn btn-outline-primary btn-sm">$16</h5></div>
                <div>
                   <button class="btn btn-primary small btn-sm border-0 d-inline-flex p-1 pt-2" id="addtocarttext">
                  <strong> CART</strong>
                </button>
                </div>
            </span>
        </div>
    </div>
    <div class="bd-example bd-example-images m-1 ">
        <div class="text-center ">
            <img src="assets/images/Megayam.jpg " class="artwork pb-2 " height="120 " width="120 ">
            <h6>VEGIE SALAD</h6>
            <span class="navbar-expand-sm d-flex d-block d d-inline-flex mx-auto my-auto">
                <div> <h5 class="btn btn-outline-primary btn-sm">$15</h5></div>
                <div>
                   <button class="btn btn-primary small btn-sm border-0 d-inline-flex p-1 pt-2" id="addtocarttext">
                  <strong> CART</strong>
                </button>
                </div>
            </span>
        </div>
    </div>
    <div class="bd-example bd-example-images m-1 ">
        <div class="text-center ">
            <img src="assets/images/kij.jpg " class="artwork pb-2 " height="120 " width="120 ">
            <h6>CHINESE MEAT SALAD</h6>
            <span class="navbar-expand-sm d-flex d-block d d-inline-flex mx-auto my-auto">
                <div> <h5 class="btn btn-outline-primary btn-sm">$10</h5></div>
                <div>
                   <button class="btn btn-primary small btn-sm border-0 d-inline-flex p-1 pt-2" id="addtocarttext">
                  <strong> CART</strong>
                </button>
                </div>
            </span>
        </div>
    </div>
    <div class="bd-example bd-example-images m-1 ">
        <div class="text-center ">
            <img src="assets/images/Goatmeat.webp " class="artwork pb-2 " height="120 " width="120 ">
            <h6>GOAT MEAT </h6>
            <span class="navbar-expand-sm d-flex d-block d d-inline-flex mx-auto my-auto">
                <div> <h5 class="btn btn-outline-primary btn-sm">$10</h5></div>
                <div>
                   <button class="btn btn-primary small btn-sm border-0 d-inline-flex p-1 pt-2" id="addtocarttext">
                  <strong> CART</strong>
                </button>
                </div>
            </span>
        </div>
    </div>
    <div class="bd-example bd-example-images m-1 ">
        <div class="text-center ">
            <img src="assets/images/kij.jpg" class="artwork pb-2 " height="120 " width="120 ">
            <h6>CHINESE MEAT SALAD</h6>
            <span class="navbar-expand-sm d-flex d-block d d-inline-flex mx-auto my-auto">
                <div> <h5 class="btn btn-outline-primary btn-sm">$10</h5></div>
                <div>
                   <button class="btn btn-primary small btn-sm border-0 d-inline-flex p-1 pt-2" id="addtocarttext">
                  <strong> CART</strong>
                </button>
                </div>
            </span>
        </div>
    </div>
    <div class="bd-example bd-example-images m-1 ">
        <div class="text-center ">
            <img src="assets/images/Goatmeat.webp" class="artwork pb-2 " height="120 " width="120 ">
            <h6>NIGERIAN JOLLOF RICE</h6>
            <span class="navbar-expand-sm d-flex d-block d d-inline-flex mx-auto my-auto">
                <div> <h5 class="btn btn-outline-primary btn-sm">$10</h5></div>
                <div>
                   <button class="btn btn-primary small btn-sm border-0 d-inline-flex p-1 pt-2" id="addtocarttext">
                  <strong> CART</strong>
                </button>
                </div>
            </span>
        </div>
    </div>
</div>
<br>
<hr class="btn-info " />

<!-- PAYSTACK -->

 <!-- <button
    class="btn btn-primary small btn-sm border-0 d-inline-flex p-1 pt-2 pb-md-2 pl-md-2 pr-md-2"
    angular4-paystack
    [paystackOptions]="options"
    (paymentInit)="paymentInit()"
    (onClose)="paymentCancel()"
    (callback)="paymentDone($event)"
  >
    Pay with Paystack
  </button> -->

  <!-- PLAID -->

  <!-- <button ngxPlaidLink
    env="sandbox"
    publicKey="YOURPUBLICKEY"
    institution=""
    [countryCodes]="['US', 'CA', 'GB']"
    (Success)="onPlaidSuccess($event)"
    (Exit)="onPlaidExit($event)"
    (Load)="onPlaidLoad($event)"
    (Event)="onPlaidEvent($event)"
    (Click)="onPlaidClick($event)"
    >Link Your Bank Account
  </button> -->

<router-outlet></router-outlet>
