<br>
<div class="text-center">
    <h1><strong>CART</strong></h1>
</div>
<hr />
<div class="container cartWrapper" *ngIf="cartList" id="displayBody">
 
    <div class="text-center">
        <table class="table table-borderless table-striped">
            <thead class="">
                <tr>
                    <th> Product </th>
                    <th> Quantity </th>
                    <th> Actions</th>
                    <th> Price </th>
                    <th> Total </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of cartList">
                    <td> EMPTY </td>
                    <td> 0</td>
                    <td>
                        <a class="btn btn-primary btn-sm" (click)="increase()">+</a> |
                        <a class="btn btn-success btn-sm" (click)="decrease()">-</a> |
                        <button  (click)="removeItem(list)"class="btn btn-danger btn-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1
                                      .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1
                                      1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0
                                      1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                </svg>
                        </button>
                    </td>
                    <td> $0.00</td>
                    <td> $0.00</td>
                </tr>
            </tbody>
            <tr>
                <td class="text-center" colspan="5">
                    <div class="d-flex ml-2 mr-2 pl-2 pr-2 pt-3">
                        <hr class="btn-dark">
                    <span >
                        <h3 ><strong>GRAND TOTAL : $0.00</strong></h3>
                        
                    </span>
                    </div>
                </td>
            </tr>
            <tr>

                <td class="text-right" colspan="4">
                    <a asp-action="ClearCart" asp-controller="Cart" class="btn btn-warning btn-sm" (click)="clearCartItems()">CLEAR CART</a> |
                    <a asp-action="CheckOut" href="#" asp-controller="Cart" class="btn btn-primary btn-sm" (click)="checkout()">CHECKOUT</a>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="text-center" *ngIf="!cartList" id="displayBody">
    <div class="m-2" id="emptyCart">
    <a class="display-4 mt-md-5">Empty Cart 🙄</a>
    </div>
    <div>
    <p>Hi... Please Search for Meals & order those Tasty Treats!!! 🤪😎😉</p>
    </div>
</div>
<router-outlet></router-outlet>
