<br />
<div class="text-center">
    <h4><strong>DELETE PRODUCT</strong></h4>
    <div class="text-danger">
        <h4>Are you sure you want to delete this Product?</h4>
    </div>
</div>
<hr />
<div class="container text-center" *ngIf="dataLoaded">
    <hr />
    <dl class="row">
 
        <dt class="col-sm-5">
            Chef Name
        </dt>
        <dd class="col-sm-6">
            {{productDetails.chefName}}
        </dd>
        <dt class="col-sm-5">
            Meal Name
        </dt>
        <dd class="col-sm-6">
            {{productDetails.mealName}}
        </dd>
        <dt class="col-sm-5">
            Slug
        </dt>
        <dd class="col-sm-6">
            {{productDetails.slug}}
        </dd>
        <dt class="col-sm-5">
            Description
        </dt>
        <dd class="col-sm-6">
            {{productDetails.description}}
        </dd>
        <dt class="col-sm-5">
            Image
        </dt>
        <dd class="col-sm-6">
            {{productDetails.image}}
        </dd>
        <dt class="col-sm-5">
            Price
        </dt>
        <dd class="col-sm-6">
            {{productDetails.price | currency}}
        </dd>
        <dt class="col-sm-5">
            Category
        </dt>
        <dd class="col-sm-6">
            {{productDetails.categoryId}}
        </dd>
    </dl>

    <div asp-action="Delete">
        <button type="submit" (click)="deleteProduct()" class="btn btn-danger"><strong>DELETE</strong></button> 
    </div>
</div>

<div class="container text-center" *ngIf="!dataLoaded">
     <h6>NO CONTENT</h6>
</div>
<router-outlet></router-outlet>
