<!-- NgForm -->
<br>
<div class="container">
 <div class="card box-shadow col-sm-8 mx-auto">

  <div class="card-head">
   <div class="RegisterLabel">
    <h1>
     <strong>REGISTER</strong>
    </h1>
   </div>
  </div>
  <hr>

  <div class="row text-center p-1">
   <div class="col-md-6 mx-auto w-100" >
    <form asp-action="Register" (ngSubmit)="OnSubmit(Form)" #Form="ngForm">
     <div class="form-group">
      <input type="text"  #Firstname="ngModel" ngModel="Firstname" required placeholder="Firstname" name="Firstname"
       class="form-control" />
      <div class="text-danger" *ngIf="!Firstname.valid && Firstname.touched">
          <label *ngIf="Firstname.errors?.required">Firstname is Required</label>
      </div>
     </div>
     <div class="form-group">
      <input type="text"  placeholder="Lastname" name="Lastname" #Lastname="ngModel" required ngModel="Lastname" class="form-control" />
      <div class="text-danger">
       <!-- {{shoeLastNameErrors()}} -->
      </div>
     </div>
     <div class="form-group">
      <input type="text"  #Username="ngModel" ngModel="Username" placeholder="Username" required name="Username"
       class="form-control" />
      <div class="text-danger">
       <!-- {{shoeUserNameErrors()}} -->
      </div>
     </div>
     <div class="form-group row">
      <div class="col-md-12">
       <input type="email"  #Email="ngModel" ngModel="Email" placeholder="Email" required name="Email" class="form-control" />
       <div class="text-danger">
        <!-- {{shoeEmailErrors()}} -->
       </div>
      </div>
     </div>
     <div class="form-group row">
      <div class="col-md-12">
       <input type="text" #Address="ngModel" ngModel="Address" placeholder="Address" required name="Address"
        class="form-control" />
       <div class="text-danger">
        <!-- {{shoeAddressErrors()}} -->
       </div>
      </div>
     </div>
     <div class="form-group row">
      <div class="col-md-12">
       <input type="text" #Phone="ngModel" ngModel="Phone" placeholder="Phone" required name="Phone" class="form-control" />
       <div class="text-danger">
        <!-- {{shoePhoneErrors()}} -->
       </div>
      </div>
     </div>
     <div class="form-group row">
      <div class="col-md-12">
       <input type="text" #State="ngModel" ngModel="State" placeholder="State" required name="State" class="form-control" />
       <div class="text-danger">
        <!-- {{shoeStateErrors()}} -->
       </div>
      </div>
     </div>
     <div class="form-group row">
      <div class="col-md-12">
       <input type="text" #Country="ngModel" ngModel="Country" required placeholder="Country" name="Country"
        class="form-control" />
       <div class="text-danger">
        <!-- {{shoeCountryErrors()}} -->
       </div>
      </div>
     </div>
     <div class="form-group row">
      <div class="col-md-12">
       <input type="text" #PostalCode="ngModel" ngModel="PostalCode" required placeholder="PostalCode" name="PostalCode"
        class="form-control" />
       <div class="text-danger">
        <!-- {{shoePostalCodeErrors()}} -->
       </div>
      </div>
     </div>

     <div >
      <div class="form-group row">
       <div class="col-md-12">
        <input type="password" #Password="ngModel" ngModel="Password" required placeholder="Password" name="Password"
         class="form-control" />
        <div class="text-danger">
        </div>
       </div>
      </div>
      <div class="form-group row">
       <div class="col-md-12">
        <input type="password" #ConfirmPassword="ngModel" ngModel="ConfirmPassword" required placeholder="Confirm Password"
         name="ConfirmPassword" class="form-control" />
        <div class="text-danger">
        </div>
       </div>
      </div>
     </div>

     <div class="form-group">
      <button type="submit" value="Create" class="btn btn-primary text-white"
       ><strong>SUBMIT</strong>
      </button>
     </div>
     <br>

     <button class="btn btn-default " [routerLink]="[ '/login']" routerLinkActive="router-link-active ">
      <strong>
       Already have an Account?
      </strong>
     </button>
     <hr class="btn-primary" />
    </form>
   </div>

  </div>

 </div>
</div>
<br>
<br>
<br>
<hr class="btn-info " />


<!-- ############################################ -->
