table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  color: black;
}

/* td,
th {
  width: 25%;
} */

.container {
  height: auto;
  /* background-color: rgb(211, 211, 211); */
}
/* ########################################################### */
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
